appdirs
sphinx
commonmark
recommonmark
sphinx-autobuild
sphinxbootstrap4theme
sphinx_materialdesign_theme
sphinx-rtd-theme
sphinxcontrib-blockdiag
sphinxcontrib-actdiag
sphinxcontrib-nwdiag
sphinxcontrib-seqdiag
sphinxcontrib-plantuml
sphinxcontrib-mermaid
