appdirs
sphinx==2.4.1
sphinxbootstrap4theme==0.6.0
sphinx_materialdesign_theme==0.1.11
sphinx-rtd-theme==0.4.3
sphinxcontrib-blockdiag==2.0.0
sphinxcontrib-actdiag==2.0.0
sphinxcontrib-nwdiag==2.0.0
sphinxcontrib-seqdiag==2.0.0
sphinxcontrib-plantuml==0.18